# turn Rewrite Engine on
RewriteEngine On

# send non www traffic to www
RewriteCond %{HTTP_HOST} !^dev\.
RewriteCond %{HTTP_HOST} !^local\.
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# catch old URLs
RewriteRule ^saltlakecity(.*) /conference [R,L]
RewriteRule ^parkcity(.*) /workshops [R,L]
RewriteRule ^bootcamp$ /workshops [R,L]
RewriteRule ^bootcamp/courses$ /workshops/courses [R,L]
RewriteRule ^bootcamp/courses/(.*)$ /workshops/courses/$1 [R,L]
RewriteRule ^bootcamp/instructors$ /workshops/instructors [R,L]
RewriteRule ^bootcamp/instructor/(.*)$ /workshops/instructor/$1 [R,L]
RewriteRule ^bootcamp/registration$ /workshops/registration [R,L]
RewriteRule ^bootcamp/faqs$ /workshops/faqs [R,L]
RewriteRule ^bootcamp/schedule$ /workshops/schedule [R,L]
RewriteRule ^bootcamp/venue$ /workshops/venue [R,L]
RewriteRule ^bootcamp/whyattend$ /workshops/whyattend [R,L]
RewriteRule ^training/public-workshops$ /training/public [R,L]
Redirect /training/public-training /training/public

# route HTTP to HTTPS
RewriteCond %{HTTP_HOST} !^dev\.
RewriteCond %{HTTP_HOST} !^local\.
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

# pretty URLs
RewriteRule ^conference/speaker/(.*)$ conference/speaker.php [NC,L]
RewriteRule ^workshops/courses/(.*)$ workshops/courses.php [NC,L]
RewriteRule ^workshops/instructor/(.*)$ workshops/instructor.php [NC,L]
RewriteRule ^onsite/trainings/(.*)$ onsite/trainings.php [NC,L]
RewriteRule ^onsite/training/(.*)$ onsite/training.php [NC,L]
RewriteRule ^onsite/consultant/(.*)$ onsite/consultant.php [NC,L]

# remove trailing slash for non-existant directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R=301,L]

# remove .php extension from all remaining files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) $1.php [NC,L]
