@import (less) url('normalize.css');

// ================================
// LESS Var Definitions
// ================================

// Color pallete
// -------------------------
@black:        #333333;
@grayDarker:   #474747;
@grayDark:     #666666;
@gray:         #999999;
@grayLight:    #B2B2B2;
@grayLighter:  #FAFAFA;
@white:        #FFFFFF;

@orange:       #FD7C00;
@blue:         #006F9E;
@purple:       #653789;
@yellow:       #E2B700;
// @green:        #00ad68;
//@red:          #e1575b;

// Font families
// -------------------------
@font-family: "Proxima Nova", Helvetica, Arial, sans-serif;

// Font weights
// -------------------------
@weight-light:      200;
@weight-regular:    400;
@weight-bold:       700;
@weight-extrabold:  800;

// Interface
@ui-strongest-color: @black;
@ui-stronger-color:  @grayDarker;
@ui-strong-color:    @grayDark;
@ui-color:           @gray;
@ui-weak-color:      @grayLight;
@ui-weaker-color:    @grayLighter;
@ui-weakest-color:   @white;

// Accents
@accent-primary-color:   @orange;

// Background color
@background: @ui-weakest-color;

// Copy & Text
@copy-primary-color:   @ui-strongest-color;
@copy-accent-color:    @accent-primary-color;
@default-font-size:    20px;
@copy-line-height:     1.5em;

// Link
@link-primary-color:   @accent-primary-color;

//Person Role Colors
@ux-color:         @orange;
@pm-color:         @blue;
@research-color:   @purple;
@leadership-color: @yellow;


//----------------------
// Typography
//----------------------

@font-face {
	font-family: "Proxima Nova";
	font-weight: @weight-light;
	font-style: normal;
	src: url('../fonts/proxima_nova_light.otf');
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: @weight-regular;
	font-style: normal;
	src: url('../fonts/proxima_nova_regular.otf');
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: @weight-bold;
	font-style: normal;
	src: url('../fonts/proxima_nova_bold.otf');
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: @weight-extrabold;
	font-style: normal;
	src: url('../fonts/proxima_nova_extrabold.otf');
}

body {
	font: @weight-regular @default-font-size @font-family;
	line-height: @copy-line-height;
	color: @copy-primary-color;
	text-align: center;
}

b,
strong {
	font-weight: @weight-bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family;
	font-weight: @weight-light;
	margin: 0;
	color: @ui-strong-color;

	&.accent {
		color: @accent-primary-color;
	}

	&.logo {
		text-indent: -9999px;
		background: url('../images/logo.svg') no-repeat;
		background-size: contain;
	}
}

a {
	color: @link-primary-color;
	
	&:hover {
		opacity: 0.75;
	}
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

img {
	max-width: 100%;
}

section {
	padding: 70px 40px;
	
	h2 {
		font-size: 30px;
		line-height: 37px;
	}
}

button,
.button {
	-webkit-appearance: none;
	outline: 0;
    border: none;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	cursor: pointer;
	background: @accent-primary-color;
	padding: 15px 30px;
	text-decoration: none;
	color: @ui-weakest-color;
	font: @weight-bold @default-font-size @font-family;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	box-sizing: border-box;
	letter-spacing: 0.22em;
	
	@media (min-width: 1000px) {
		font-size: 28px;
		padding: 16px 32px;
		letter-spacing: 0.18em;
	}
}

.video-thumbnail {
	cursor: pointer;
	position: relative;
	
	&:before {
		content: '';
		display: inline-block;
		background: url('../images/icon-sprite.svg') no-repeat 0 0;
		width: 72px;
		height: 72px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -36px 0 0 -36px;
	}
}

.headers {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

main {
	margin-top: 50px;
}

.social-nav {
	li {
		display: inline-block;
		
		a {
			text-indent: -9999px;
			display: inline-block;
			width: 40px;
			height: 50px;
		}

		.twitter {
			background: url('../images/icon-sprite.svg') no-repeat -200px 7px;
		}

		.linkedin {
			background: url('../images/icon-sprite.svg') no-repeat -200px -39px;
		}

		.instagram {
			background: url('../images/icon-sprite.svg') no-repeat -240px 7px;
		}
	}
}

.primary-header {
	background: @ui-strongest-color;
	color: @ui-weak-color;
	
	a {
		display: inline-block;
		color: @ui-weak-color;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		padding: 0 10px;
		line-height: 50px;
		display: inline-block;
		box-sizing: border-box;
		margin-bottom: 9px;
		
		&.home {
			text-indent: -9999px;
			background: url(../images/icon-sprite.svg) -115px 9px no-repeat;
			width: 50px;
			height: 50px;
		}
		
		&.active:not(.home) {
			color: @accent-primary-color;
			font-weight: @weight-bold;
			
			&:after {
				content: '';
				background: url('../images/icon-sprite.svg') no-repeat -96px -57px;
				width: 13px;
				height: 7px;
				display: inline-block;
				margin-left: 10px;
				margin-top: -5px;
				vertical-align: middle;
			}
		}
	}

	.primary-nav {
		height: 50px;
		overflow: hidden;
		
		&.open {
			height: auto;
		}

		ul {
			margin-bottom: 36px;
		}
	}

	.social-nav {
		display: none;
	}

	@media (min-width: 800px) {
		display: flex;
		
		a {
			font-size: 14px;
			padding: 0 18px;
			display: block;
			position: relative;
			margin: 0;
			
			&.active:not(.home) {
				&:after {
					background: @accent-primary-color;
					height: 2px;
					width: auto;
					margin: 0;
					position: absolute;
					bottom: 0;
					left: 18px;
					right: 18px;
				}
			}
		}
		
		.primary-nav {
			height: auto;
			overflow: visible;
			flex: 1;
			
			ul {
				display: flex;
				margin: 0;
				
				.order-1 { order: 1; }
				.order-2 { order: 2; }
				.order-3 { order: 3; }
				.order-4 { order: 4; }
				.order-5 { order: 5; }
			}
		}
	}

	@media (min-width: 1000px) {
		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
		}

		a {
			padding: 0 24px;

			&.active:not(.home):after {
				left: 24px;
				right: 24px;
			}
		}

		.social-nav {
			display: block;
		}

	}

	@media (min-width: 1100px) {
		.primary-nav a:not(.home) {
			padding: 0 37px;
			
			&.active:after {
				left: 37px;
				right: 37px;
			}
		}
	}
}

.section-header {
	background: @ui-stronger-color;
	color: @ui-weakest-color;
	
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}

	.section-nav {
		height: 50px;
		overflow: hidden;
		
		.section-nav-head {
			display: flex;
			border-bottom: 1px solid @ui-strong-color;
			height: 50px;
			
			h3 {
				flex: 1;
				color: @ui-weakest-color;
				margin: 16px;
			}	
		}

		.menu-toggle {
			background: none;
			color: @ui-weak-color;
			margin: 0;
			padding: 0px 16px;
			line-height: 50px;
			letter-spacing: normal;
			
			&:before {
				content: '|||';
				display: inline-block;
				font-weight: bold;
				transform: rotate(90deg);
				font-size: 26px;
				color: @ui-weakest-color;
			}
		}
		
		&.open {
			height: auto;
			
			.menu-toggle:before {
				content: '\D7';
				font-weight: @weight-light;
				font-size: 35px;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 12px 20px;
			
			li {
				padding: 20px;
				box-sizing: border-box;

				a {
					font-size: 18px;
					text-decoration: none;
				}
			}

			
			li:not(:last-child) {
				width: 50%;
				text-align: left;
				
				a {
					color: @ui-weakest-color;
				}
			}

			li:last-child {
				width: 100%;
				
				.button {
					background: @ui-weakest-color;
					color: @ui-stronger-color;
					padding: 10px;
					width: 100%;
					text-transform: none;
					letter-spacing: normal;        
				}
			}
		}
	}

	@media (min-width: 1000px) {
		&:not(.sticky) {
			background: rgba(0, 0, 0, 0);
		}

		&.sticky {
			top: 50px;
			
			.section-nav {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}

		.section-nav {
			height: auto;
			overflow: visible;
			display: flex;
			align-items: center;
			padding: 23px 20px;
			
			.section-nav-head {
				border: none;
				width: auto;
				height: auto;
				
			}

			.logo {
				width: 189px;
				height: 25px;
				margin: 0;
			}

			ul {
				flex: 1;
				display: block;
				display: flex;
				justify-content: flex-end;
				
				li {
					padding: 0;

					a:not(.button) {
						padding: 10px 13px;
					}
				}

				li:last-child .button {
					padding: 8px 24px;
					margin-bottom: 0;
				}

				li:not(:last-child),
				li:last-child,
				li:last-child .button {
					width: auto;
				}
			}
		}

		.menu-toggle {
			display: none;
		}
	}

	@media (min-width: 1350px) {
		.section-nav {
			padding: 23px 65px;
			
			.logo {
				width: 230px;
				height: 31px;
			}

			ul li a:not(.button) {
				padding: 10px 28px;
			}
		}
	}
}

footer {
	background: @ui-strongest-color;
	color: @ui-weakest-color;
	padding: 45px 40px 60px;
	
	.social-nav {
		width: 200px;
		margin: 0 auto;
	}
	
	.logo {
		background-position: center;
		margin-bottom: 60px;
		height: 33px;
	}

	.main-footer-nav {
		margin-bottom: 60px;

		a {
			font-size: 17px;
			color: @ui-weakest-color;
			text-decoration: none;
			display: inline-block;
			padding: 5px;
		}
	}

	p {
		font-size: 12px;
	}
	
	@media (min-width: 800px) {
		padding-top: 83px;

		.social-nav {
			transform: scale(1.5);
			margin-bottom: 20px;
		}

		.main-footer-nav {
			margin-bottom: 90px;
			li {
				display: inline-block;
			}
			
			a {
				font-size: 14px;
				padding: 5px 20px;
			}
		}
	}
}

.hero {
	height: 0;
	box-sizing: border-box;
	background: @ui-strongest-color top center no-repeat;
	background-size: auto 100%;
	color: @ui-weakest-color;

	@media (min-width: 800px) {
		background-size: cover;
	}

	@media (min-width: 1000px) {
		height: 392px;
	}
}

.home .hero {
	padding: 95px 25px 70px;
	height: 500px;

	.logo {
		background-position: center;
		height: 33px;
	}

	h2 {
		color: @ui-weakest-color;
		font-weight: @weight-extrabold;
		font-size: 40px;
	}

	p {
		font-size: 30px;
		font-weight: @weight-light;
		margin: 42px 0 102px;
		line-height: 37px;
	}

	&.image-1 { background-image: url('../images/home-bg-1.jpg'); }
	&.image-2 { background-image: url('../images/home-bg-2.jpg'); }
	&.image-3 { background-image: url('../images/home-bg-3.jpg'); }
	&.image-4 { background-image: url('../images/home-bg-4.jpg'); }
	&.image-5 { background-image: url('../images/home-bg-5.jpg'); }
	&.image-6 { background-image: url('../images/home-bg-6.jpg'); }
	&.image-7 { background-image: url('../images/home-bg-7.jpg'); }

	@media (min-width: 1000px) {
		height: 922px;
		padding-top: 120px;
		
		.logo {
			height: 60px;
		}

		p {
			font-size: 24px;
			margin: 70px 0 240px;
		}

		h2 {
			font-size: 80px;
		}
	}
}

.product-bootcamp .hero {
	height: 554px;
	background-image: url('../images/bootcamp-bg.jpg');
	padding: 100px 40px 50px;
	
	h1 {
		color: @ui-weakest-color;
		font-size: 30px;
		line-height: 37px;
	}

	ul {
		margin-bottom: 60px;

		li {
			font-size: 18px;
			font-weight: @weight-bold;
			line-height: 22px;
			padding: 6px;
		}
	}

	.date-location {
		display: none;
	}

	.button {
		width: 220px;
	}

	@media (min-width: 1000px) {
		height: 1070px;
		padding: 200px 130px 50px;
		
		h1,
		li,
		p {
			text-align: left;
		}
		
		h1 {
			font-size: 80px;
			line-height: 98px;
		}

		ul {
			li {
				font-size: 36px;
				line-height: 44px;
			}
		}

		.date-location {
			display: block;
			font-size: 24px;
			font-style: italic;
			margin-bottom: 60px;
		}
		
		.button {
			width: auto;
		}
	}

	@media (min-width: 1599px) {
		padding-top: 400px;
	}
}

section.spotlight {
	padding-left: 0;
	padding-right: 0;

	li:not(:last-child) {
		margin-bottom: 80px;
	}

	h3 {
		font-size: 24px;
		font-weight: @weight-bold;
	}

	.date-location {
		font-size: 18px;
		margin-top: 0;
	}

	.description {
		max-width: 400px;
		margin: 20px auto 45px;
		padding: 0 33px;
	}

	@media (min-width: 1150px) {
		margin-top: -330px;
		padding-bottom: 152px;
		
		h3,
		.date-location {
			color: @ui-weakest-color;	
		}

		.date-location {
			margin: 8px 0 33px;
		}

		.description {
			font-size: 24px;
			width: 290px;
			margin-bottom: 77px;
		}

		ul {
			display: flex;
			align-items: stretch;
			
			li:not(:last-child) {
				margin-bottom: 0;
			}
			
			li {
				flex: 1;
				padding: 0 10px;
				position: relative;
				padding-bottom: 74px;
				
				.button {
					position: absolute;
					bottom: 0;
					width: 290px;
					left: 50%;
					margin-left: -145px;
				}
			}
		}
	}
}

section.about {
	background: @ui-weaker-color;
	
	@media (min-width: 800px) {
		padding: 90px 40px 110px;

		h2 {
			font-size: 56px;
			line-height: 1em;
			margin-bottom: 53px;
		}

		p {
			font-size: 24px;
			max-width: 850px;
			margin: 0 auto;
			line-height: 35px;
		}
	}
}

section.personal-stories {
	ul {
		margin-bottom: 70px;
	}

	li {
		margin: 40px 0;
	}

	h3 {
		font-size: 24px;
		font-weight: @weight-bold;
	}

	p {
		font-size: 18px;
		line-height: 22px;
		margin-top: 0;
	}

	.card-image {
		margin: 0 -40px;
	}

	@media (min-width: 800px) {
		padding: 100px 0 180px;

		h2 {
			font-size: 56px;
			line-height: 1em;
			margin-bottom: 42px;
		}

		h3 {
			font-size: 20px;
		}

		p {
			font-size: 14px;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 20px 0 55px;
		}

		li {
			width: 50%;
			box-sizing: border-box;
			padding: 1px;
			margin: 18px 0;			
		}

		.card-image {
			margin: 0;
		}
	}

	@media (min-width: 1000px) {
		li {
			width: 33.33%;
		}
	}
}

section.attendee-stats {
	background: @blue;
	color: @ui-weakest-color;
	padding: 50px 30px;
	line-height: 32px;
	
	@media (min-width: 800px) {
		padding: 62px 40px;

		p {
			font-size: 48px;
			line-height: @copy-line-height;
			max-width: 1050px;
			margin: 1em auto;
		}
	}
}